.css-34nofg-MuiTableRow-root.Mui-selected {
  background-color: rgb(25 118 210 / 50%) !important;
}

/* Estilos del boton de sanciones activas o inactivas */
.cont-btn-san-act-inact {
  width: 100%;
}

.filtro-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50px;
  float: right;
}

.active {
  color: #f6f6f6 !important;
  background: #3c1263 !important;
}

.inactive {
  color: #f6f6f6 !important;
  background: #3c1263 !important;
}

/* Estilo de las filas seleccionadas */
.mensaje-de-filas {
  position: absolute;
  top: 0; /* Ajusta la posición vertical según sea necesario */
  left: 50%; /* Centra el mensaje horizontalmente */
  transform: translateX(-50%); /* Centra el mensaje horizontalmente */
  background-color: rgba(255, 0, 0, 0);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  height: 65px;
}

/* Estilo de la barra de busqueda (filtro) */
.css-7mt4h1-MuiInputBase-root .MuiInputBase-input {
  padding: 8px 8px 8px 0px;
  padding-left: calc(1em + 32px);
  -webkit-transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
}

/* Estilo de la barra en sanciones */
.barra-sanciones {
  background: #dadada !important;
}