#disable-close-on-select {
  text-align: start !important;


}
.stack{
  width: 100% !important;
  height: 100%;
  background-color: aqua !important;

}
.le{

width: 200px !important;
margin-top:5% !important;
text-align: start !important;

overflow: none;







}
.MuiInputBase-root{

  text-align: start !important;
}