.padree {
  display: flex;
  margin: 15em auto;
  flex-wrap: wrap;
  width: 500px !important;
  height: 590px !important;
  justify-content: space-evenly;
  align-content: space-evenly;
  background: #f6f6f6;
  box-shadow: 0 0 1rem 0 rgba(8, 10, 76, 0.2);
  border-radius: 30px;
  ;
}

.title-bienvenido {
  font-family: "Questrial", sans-serif;
}

#imagenes {
  width: 400px;
  height: 50px;
}

.hijoo {
  display: flex;
  flex-wrap: wrap;
  width: 700px !important;
  height: 500px !important;
  justify-content: center;
  align-content: space-evenly;
}

.items {
  height: 60px;
  width: 300px;
}

.title {
  font-family: "Questrial", sans-serif;
  height: 100px !important;

  width: 350px;
}

.notcuenta {
  padding: 19px;
  box-sizing: border-box;
  height: 40px;
}

.recuperarcuenta {
  padding: 25px;
  height: 40px;
  box-sizing: border-box;
}

.twos {
  position: absolute;
  top: 276px;
  border-radius: 30px;
  height: 500px;
  width: 585px;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

.ones {
  position: absolute;
  top: 330px;
  border-radius: 30px;
  height: 400px;
  width: 655px;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  color: #f6f6f6 !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover {
  color: #3c1263 !important;
}

.inicio-s {
  border-radius: 50px;
  width: 240px;
  background: #3c1263;
  outline: 1px solid #3c1263;
}

.inicio-s:hover {
  border-radius: 50px;
  width: 240px;
  color: #3c1263 !important;
  background: #f6f6f6 !important;
}

.item-casa {
  width: 50px;
  color: #f6f6f6;
  background: #3c1263;
  border-radius: 100% !important;
  height: 50px;
  box-sizing: border-box;
}

.item-casaa:hover {
  cursor: pointer;
}

.link {
  height: inherit;
  width: inherit;
  padding: 15px;
  color: #f6f6f6;
  border-radius: 80px;
}

.casaa {
  border-radius: 900px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: inherit;
  width: inherit;
}

.bi-house-door-fill {
  position: relative;
  top: 1px;
}

.title {
  position: relative;
  overflow: hidden;
}

.title h1 {
  font-size: 48px;
  color: transparent;
  background: linear-gradient(180deg, #3c1263, #7036ab);
  background-size: 100% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: animateBubbles 5s infinite;
}

@keyframes animateBubbles {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 -200%;
  }
}

/* Estilo de la imagen de login */
#logo-login {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -280%);
}



/* Estilo para los enlaces con la clase "custom-link" para que parezcan botones */
.custom-link {
  display: inline-block;
  color: #3c1263;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-link:hover {
  transform: scale(1.05);
  /* Cambiar el tamaño al pasar el mouse */
}

.contraseña-item {
  position: relative;
  left: 4px;
}


@media screen and (max-width: 720px) {

  .padree {
    width: 460px !important
  }

  .twos {
    width: 530px !important
  }

  .ones {
    width: 600px !important;

  }
}

@media screen and (max-width: 610px) {

  .padree {
    width: 400px !important
  }

  .twos {
    width: 480px !important
  }

  .ones {
    width: 550px !important;

  }

}

@media screen and (max-width: 560px) {

  .padree {
    width: 340px !important
  }

  .twos {
    width: 420px !important
  }

  .ones {
    width: 490px !important;

  }

}

@media screen and (max-width: 500px) {

  .padree {
    width: 310px !important
  }

  .twos {
    width: 390px !important
  }

  .ones {
    width: 460px !important;

  }

}

@media (max-width: 460px) {

  body {
    background: #fff;
  }

  .padree {
    width: 100% !important;
    background-color: #fff;
    box-shadow: none !important;
    margin-top: 180px;
  }

  .twos {
    display: none;
  }

  .ones {
    display: none;
  }

  #logo-login {
    width: 300px !important;
    border-radius: 20px;
  }

  #imagenes {
    background: #3c1263;
    margin-top: 2px;
    height: 150px !important;
    width: 460px !important;
  }

  .title-bienvenido {
    position: relative;
    top: -20px;
    font-size: 40px;
  }


}