#titulouser{
    width: 59%;
    font-size: 2.9rem;
    color: #f6f6f6;
    font-family: "questrial";
    position: absolute;
    z-index: 300 !important;
   top: 40px !important;
   left: -430px;
   
}

.cont-img{
width: 100% !important;
height: 250px !important;
}
.imagen-user{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
body{
    background: #f6f6f6 !important;
}

.css-heg063-MuiTabs-flexContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
   
}

/* barra de menu  horizontal  */
.css-hyum1k-MuiToolbar-root {
    background:#2c0757 !important;
    box-shadow: none !important;
     height: 7vh;
     width: 100%;
}
/* barra de menu  vertical  */
.css-2dum1v-MuiDrawer-docked .MuiDrawer-paper {
    background:#2c0757 !important;
     width: 109px !important;
    color: #fff !important;

}
.MuiDrawer-paper :nth-child(7){
 
    transform: translateY(45px);
}
.css-1hsz34s-MuiDrawer-docked .MuiDrawer-paper {
    background:#2c0757 !important;
    color: white;
    display: flex;
    width: 235px !important;  
}
.css-h4y409-MuiList-root{
    display: flex;
    flex-direction: column;
    height: 500px;
    text-align: center;
    justify-content: space-evenly;
}
.css-10hburv-MuiTypography-root{
font-size: 1.5em !important;
font-family:  questrial !important;
}


.css-k008qs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    top: -60px;
    position: absolute;
}

.css-i4bv87-MuiSvgIcon-root {  
width: 1.7em !important;
height: 1.7em !important;
 }
.css-uxa1ks-MuiListItem-root:nth-child(6){

 }
/* .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    background: rebeccapurple !important;
    height: 92% !important;
} */
.css-19z1ozs-MuiPaper-root-MuiAppBar-root{
    box-shadow: none !important;
}
.css-1191obr-MuiPaper-root-MuiAppBar-root{
    box-shadow: none !important;
}

.MuiBox-root .css-159drnt{
    background: #6cbb6c;
  margin: auto;
    width: 110PX;
}

.css-7mt4h1-MuiInputBase-root {
    color: #fff !important;
}
.css-h4y409-MuiList-root {
    display: flex;
    flex-direction: column;
    height: 500px;
    background: #6cbb6c;
    text-align: center;
    justify-content: space-evenly;
}