#titulouser{
    width: 49% ;
    font-size: 3.2em;
    box-sizing: border-box;
    align-self: center;
    color: #0382AC;
    font-family: "questrial";
    height:150px;
    /* outline: 1px solid black; */

}

.bi{
width: 100px;
transform: translate(15px ,15px);
height: 85px;
}

.css-heg063-MuiTabs-flexContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    
}
body{
  background: #fff;
}
/* barra de menu  horizontal  */
.css-hyum1k-MuiToolbar-root {
    background:#0382AC;
    height: 5vh;
     width: 100%;
}
/* barra de menu  vertical  */
.css-2dum1v-MuiDrawer-docked .MuiDrawer-paper {
    background:#0382AC;
     width: 109px !important;
    color: #fff !important;

}
.MuiDrawer-paper :nth-child(7){
 
    transform: translateY(45px);
}
.css-1hsz34s-MuiDrawer-docked .MuiDrawer-paper {
    background:#0382AC;
    color: white;
    display: flex;
    width: 235px !important;
    
}

.css-h4y409-MuiList-root{
    display: flex;
    flex-direction: column;
    height: 500px;
    text-align: center;
    justify-content: space-evenly;

}
.css-10hburv-MuiTypography-root{
font-size: 1.5em !important;
font-family:  questrial !important;
}




.css-i4bv87-MuiSvgIcon-root {  
width: 1.7em !important;
height: 1.7em !important;
 }
.css-uxa1ks-MuiListItem-root:nth-child(6){
background: #808653 !important;
 }
/* .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    background: rebeccapurple !important;
    height: 92% !important;
} */

.MuiBox-root .css-159drnt{
    background: #e4e7e4;
  margin: auto;
    width: 110PX;
}