body {
    background-image: url(./fondo/Background\ original.png);
    background-size: 100% 100%; /* Hace que el fondo cubra toda la pantalla sin recortar */
    background-attachment: fixed; /* Evita que el fondo se mueva con el contenido */
    background-repeat: no-repeat; /* Evita la repetición del fondo */
    font-family: Arial, sans-serif;
    align-items: center;
    text-align: center;
    display: block !important;
    padding-top: 225px;
    overflow:hidden;
}