/* Perfil.css */
body {
  background: #fff;
}

/* Estilo para el contenedor general en perfil */
.contenedor-padre-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: fff;
  width: 100% !important;
  height: 94% !important;
  background-color: #f6f6f6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
}



.contenedor-de-texfields {
  width: 100%;
  max-width: 400px; /* Ajustar según sea necesario */
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-140%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contenedor-texfield-perfil {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

/* Agregar estilos más específicos para el componente Textfield si es necesario */
.textfield {
  width: 100%;
  margin-right: 10px;
}

/* Estilar el icono de editar */
.contenedor-texfield-perfil span {
  cursor: pointer;
}

/* Estilo del boton en perfil */
.btn-perfil {
  position: absolute;
  bottom: 100px;
  width: 200px;
  height: 40px;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  background: #2c0757;
  color: #fff;
  border: 1px solid #fff !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover {
  background: #fff;
  color: #2c0757;
  border: 1px solid #2c0757 !important;
}

.contenedor-info-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -60%);
}

.contenedor-img-perfil img {
  width: 200px; /* Ajustar según sea necesario */
  border: 1px solid black;
  margin-bottom: 10px;
  height: 200px;
}

/* Agregar estilos más específicos para los párrafos si es necesario */
.contenedor-info-perfil p {
  margin-bottom: 10px;
}

/* Color de los lapices en perfil */
.css-i4bv87-MuiSvgIcon-root {
  width: 1.7em !important;
  height: 1.7em !important;
  color: #000000 !important;
}

/* Titulo */
.title-perfil {
  font-size: 30px;
}

/* Diseño responsivo de perfil */
/* Primera parte */
@media (max-width: 1700px) {
  .contenedor-padre-perfil {
    width: 1400px;
    height: 1000px;
  }

  .cont-title-perfil {
    transform: translate(-360%, -370%);
  }

  .contenedor-info-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -60%);
  }
}

/* Segunda parte */
@media (max-width: 1500px) {
  .contenedor-padre-perfil {
    width: 1200px;
    height: 1000px;
  }

  .cont-title-perfil {
    transform: translate(-300%, -370%);
  }

  .contenedor-de-texfields {
    transform: translate(-120%, -50%);
  }

  .contenedor-info-perfil {
    transform: translate(30%, -70%);
  }

}

/* Tercera parte */
@media (max-width: 1300px) {
  .contenedor-padre-perfil {
    width: 1000px;
    height: 1000px;
  }

  .cont-title-perfil {
    transform: translate(-240%, -370%);
  }

  .contenedor-de-texfields {
    transform: translate(-100%, -50%);
  }

  .contenedor-info-perfil {
    transform: translate(10%, -70%);
  }

}

/* Cuarta parte */
@media (max-width: 1100px) {
  .contenedor-padre-perfil {
    width: 800px;
    height: 1000px;
  }

  .cont-title-perfil {
    transform: translate(-200%, -370%);
  }

  .contenedor-de-texfields {
    height: 400px;
    transform: translate(-50%, -0%);
  }

  .contenedor-info-perfil {
    transform: translate(-50%, -110%);
  }

  .btn-perfil {
    bottom: 30px;
  }

}

/* Quinta parte */
@media (max-width: 900px) {
  .contenedor-padre-perfil {
    width: 600px;
    height: 1000px;
  }

  .cont-title-perfil {
    transform: translate(-140%, -370%);
  }

  .contenedor-de-texfields {
    height: 400px;
    transform: translate(-50%, 10%);
  }

  .contenedor-info-perfil {
    transform: translate(-50%, -110%);
  }

  .btn-perfil {
    bottom: 30px;
  }

}

/* Sexta parte */
@media (max-width: 757px) {

  .contenedor-info-perfil {
    transform: translate(-50%, -100%);
  }

}

/* Septima parte */
@media (max-width: 650px) {
  .contenedor-padre-perfil {
    width: 400px;
    height: 1000px;
  }

  .cont-title-perfil {
    transform: translate(-80%, -370%);
  }

  .contenedor-de-texfields {
    height: 400px;
    transform: translate(-50%, 10%);
  }

  .contenedor-info-perfil {
    transform: translate(-50%, -100%);
  }

  .btn-perfil {
    bottom: 30px;
  }

}