.MuiListItem-root .MuiListItem-gutters .css-uxa1ks-MuiListItem-root:hover {
  background: #f6f6f6e1 !important;
}

/* barra de menu  horizontal  */
.css-hyum1k-MuiToolbar-root {
  background:#2c0757;
  box-shadow: none !important;
   height: 7vh;
   width: 100% !important;

   box-shadow: 0 1px 9px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0 !important;
}
/* barra de menu  vertical  */
.MuiDrawer-paper {
  background:#2c0757 !important;
   width:86px !important;
  color: #ffffff !important;
  display: none;
  z-index: 999999999999999;
  
}
.css-1hsz34s-MuiDrawer-docked .MuiDrawer-paper {
  background:#2c0757 !important;
  color: white;
  display: flex;
  position: fixed;
  height: 100vh !important;
  width:250px !important;  
  border-top-right-radius: 30PX;
position: none !important;
}

.css-10hburv-MuiTypography-root{
  font-size: 1.5em !important;
  font-family:  questrial !important;
  }
  
  
  .css-k008qs {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 50px;
      top: -60px;
      position: absolute;
  }
  
  .css-i4bv87-MuiSvgIcon-root {  
  width: 1.7em !important;
  height: 1.7em !important;
  color: #f6f6f6;
   }
  
  .css-19z1ozs-MuiPaper-root-MuiAppBar-root{
      box-shadow: none !important;
  }
  .css-1191obr-MuiPaper-root-MuiAppBar-root{
      box-shadow: none !important;
  }
  .MuiBox-root .css-159drnt{
      background: #6cbb6c;
    margin: auto;
      width: 110PX;
  }
  .css-9mgopn-MuiDivider-root{
  display: none !important;
  }
  .css-h4y409-MuiList-root {
      display: flex;
      flex-direction: column;
      height: 55%;
      justify-content: space-evenly !important;
  }
  /* .css-uxa1ks-MuiListItem-root:hover{
      background: #4115748d !important;
      
  }  */
  .css-1l1ymr5-MuiListItemIcon-root{
    margin-right: 12px !important;
  }
  .css-2mnzrj-MuiListItemIcon-root,.css-370ttl-MuiListItemIcon-root{
    margin-right: 12px !important;
  }
 
  .css-10hburv-MuiTypography-root{
    font-size: 15px !important;
    font-weight: bold;
    }
    .css-1ex1afd-MuiTableCell-root {
        -webkit-font-smoothing: antialiased;
        font-size: .75rem !important;
        letter-spacing: normal;
        color: #202124;
        text-shadow: none;
    }
    .css-1191obr-MuiPaper-root-MuiAppBar-root {
    
      width: calc(100% - 250px);
  }


.css-va53ml-MuiButtonBase-root-MuiListItemButton-root{
  width: 90%;
  justify-self:center;
  height: 20px !important;
  margin: auto;
  border-radius: 7px;
}
.css-va53ml-MuiButtonBase-root-MuiListItemButton-root:hover{
background: #fbf7f710;
}
.MuiListItem-root .MuiListItem-gutters .css-uxa1ks-MuiListItem-root :hover{
  background: none !important;
}

.css-va53ml-MuiButtonBase-root-MuiListItemButton-root{
  transform: translateX(-10px);
}
.Overlay-backdrop--side {
  background: rgba(34, 34, 34, 0.441);
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -999999 !important;
}

.MuiBackdrop-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: -999;
  position: fixed;
  align-items: center;
  justify-content: center;
  background: rgba(34, 34, 34, 0.441);
  -webkit-tap-highlight-color: transparent;
}