.padrecontenedor {
  margin: 50px auto;
  background: rgb(255, 255, 255);
  width: 600px !important;
  border-radius: 30px;
  height: 550px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.padrecontenedor::after {
  content: "";
  height: 550px;
  width: 760px;
  position: absolute;
  background: rgba(255, 255, 255, 0.582);
  top: 30px;
  border-radius: 30px;
  margin-left: -80px;
  z-index: -100 !important;
}

.padrecontenedor::before {
  content: "";
  height: 450px;
  width: 850px;
  position: absolute;
  background: #ffffff94;
  top: 80px;
  border-radius: 30px;
  margin-left: -125px;
  z-index: -200 !important;
}

ul,
li {
  list-style: none;
}

.li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sldrr {
  position: relative;
  width: 700px;
  height: 205px;
  border-radius: 30px;
  margin: 0 auto;
  /* outline: 2px solid rgb(125, 0, 208); */
}

.sldrr li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 600px !important;
  height: inherit;
  background: #dbdbdb46;
  transition: opacity 0.4s;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 200;
}

.son-3 {
  width: 300px;
  height: 200px;
  position: relative;
  bottom: 40px;
}

.son {
  width: 300px;
  height: 200px;
}

.carta {
  position: relative;
  top: 75%;
  right: 30%;
}

.sldrr li:first-child {
  z-index: 1;
  opacity: 1;
}

.sldrr li:target {
  opacity: 1;
  z-index: 1;
}

.li {
  display: inline-block;
  text-align: center;
  /* outline: 1px solid green; */
  margin: 5px;
}

.a {
  display: inline-block;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  background: #3c1263;
  border-radius: 100%;
  padding: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

/* Estilo para el contenedor del link */
.contenedor-link-Rcontra {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 38%;
}

/*Estilo del link*/
.link-Rcontr {
  display: inline-block;
  color: #3c1263;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.link-Rcontr:hover {
  transform: scale(1.05);
  /* Cambiar el tamaño al pasar el mouse */
  text-decoration: underline;
}

/* Estilo para el contenedor de recuperar contraseña */
.contenedor-btn-rContra {
  margin-top: 10px;
}
/*Estilo del boton de recuperar contraseña*/
.btn-rcontra {
  border-radius: 50px;
  width: 200px;
  height: 30px;
  color: #fff;
  background: #3c1263;
  border: none;
}

.btn-rcontra:hover {
  border-radius: 50px;
  width: 200px;
  color: #3c1263 !important;
  background: #f6f6f6 !important;
  cursor: pointer;
  border: solid 1px #3c1263;
}

/*Estilo del codigo*/
.son-2 {
  height: 100px;
  position: relative;
  top: -80px;
  left: 60px;
  width: 380px;
}

.son-codigo-rec {
  position: relative !important;
  left: -60px !important;
}

.son-correo {
  height: inherit;
  width: inherit;
  /* 
  outline: 2px solid rgb(86, 244, 0); */
}

/* Clase para mostrar un slide */
.sldrr li.active {
  opacity: 1;
  z-index: 1;
  height: 240px;
  background: #00000000 !important;
}

/* Clase para ocultar un slide */
.sldrr li.inactive {
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  /* Desactiva los eventos del elemento oculto */
}

/*Estilo para el boton siguiente*/
.btn-siguiente {
  border-radius: 80px;
  width: 100px;
  color: #fff;
  background: #3c1263;
  height: 40px;
  border: none;
  position: relative;
  top: 5%;
  margin: 10px;
}

.btn-siguiente:hover {
  border-radius: 90px;
  width: 100px;
  border: none;
  color: #3c1263 !important;
  background: #f6f6f6 !important;
  cursor: pointer;
  border: solid 1px #3c1263;
}

/* Estilo para el contenedor de enviar correo en recuperar contraseña */
.contenedor-btn-enviarCod {
  margin-bottom: 20px;
}

/*Estilo para el boton enviar correo btn-env-correo*/
.btn-env-correo {
  border-radius: 50px;
  border: none;
  width: 100px;
  color: #fff;
  background: #3c1263;
  height: 40px;
}

.btn-env-correo:hover {
  border-radius: 50px;
  width: 100px;
  color: #3c1263 !important;
  background: #f6f6f6 !important;
  cursor: pointer;
  border: solid 1px #3c1263;
}

/*Ventana de dialogo*/
.MuiTypography-h6 {
  font-size: 20px !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  position: relative !important;
  left: 24%;
}

.WithStyles\(ForwardRef\(DialogContent2\)\)-root-8 {
  padding: 16px;
  font-size: 16px;
}

/*Estilo del alert*/
.css-lbjakd-MuiStack-root {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-size: 48px;
  color: transparent;
  background: linear-gradient(180deg, #3c1263, #7036ab);
  background-size: 100% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: animateBubbles 5s infinite;
}

@keyframes animateBubbles {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 -200%;
  }
}

/* Arreglo de los campos Nueva y confirmacion de contraseña */
.botton2 {
  width: inherit !important;
  height: 110px !important;
  margin-top: -40px;
}

/*Diseño responsivo*/
@media screen and (max-width: 860px) {
  .padrecontenedor {
    width: 500px !important;
  }

  .sldrr li {
    width: 500px !important;
    height: 230px !important;
  }

  .link-inicio {
    position: relative;
    right: 20px;
  }

  .padrecontenedor::after {
    width: 670px !important;
  }

  .padrecontenedor::before {
    width: 760px !important;
  }

}

@media screen and (max-width: 775px) {
  .padrecontenedor {
    width: 400px !important;
  }

  .sldrr li {
    width: 400px !important;
    height: 230px !important;
  }

  .link-inicio {
    position: relative;
    right: 35px;
  }

  .padrecontenedor::after {
    width: 560px !important;
  }

  .padrecontenedor::before {
    width: 650px !important;
  }

}

@media screen and (max-width: 655px) {
  .padrecontenedor {
    width: 380px !important;
  }

  .sldrr li {
    width: 380px !important;
    height: 230px !important;
    font-size: 15px;

  }

  .link-inicio {
    position: relative;
    right: 35px;
  }

  .padrecontenedor::after {
    width: 500px !important;
    left: 50px;
  }

  .padrecontenedor::before {
    width: 550px !important;
    left: 70px;
  }

}