.contenedor-info-recontra {
    height: 45%;
    width: 70%;
    background-color: #ffffff9f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}

.foto-recontra {
    width: 330px;
    height: 180px;
}

.texto-contra-re {
    font-size: 20px;
}

/* Media Query para pantallas de menos de 768px */
@media (max-width: 768px) {
    .contenedor-info-recontra {
        height: 60%;
    }
}


/*Estilo del link*/
.custom-link {
    display: inline-block;
    color: #3c1263;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .custom-link:hover {
    transform: scale(1.05); /* Cambiar el tamaño al pasar el mouse */
    text-decoration: underline;
  }