.buttons {
 
    width: inherit !important;
    height: inherit !important;
    border-radius: 50px !important;
    border: none !important;
}

.pad{
    width: inherit;
    height: inherit;
    border-radius: 50px !important;
   border: none !important;
  
}

