.nav-home {
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  color: #f2f2f2;
  height: 40px;
  flex-grow: 1;
}

.nav-home a {
  margin-left: 30px;
  text-decoration: none;
  color: #ffffff;
  font-family: questrial;
}

.nav-home a:hover {
  margin-left: 30px;
  text-decoration: underline;
  font-family: questrial;
}

.nav-home .home {
  margin-right: auto;
  font-weight: bold;
  font-family: questrial;
}

/* Contenedor de los textos en home */
.cont-textos {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  height: 820px;
  width: 989px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.titulo-home {
  font-size: 100px;
  font-family: questrial;
  color: #f2f2f2;
  text-align: left;
}

.texto-home {
  font-size: 40px;
  font-family: questrial;
  color: #ffffff;
  width: 100%;
  text-align: left;
}

.texto-homee {
  font-size: 60px;
  font-family: questrial;
  color: #ffffff;
  width: 100%;
  text-align: left;
}

.parrafo-home {
  font-size: 40px;
  font-family: questrial;
  color: #ffffff;
  text-align: center;
  text-align: left;
}

/* Resposivo para portatil */
@media (max-height: 740px) {
  .cont-textos {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    height: 500px;
    width: 989px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -44%);
    padding: 40px;
  }

  .titulo-home {
    font-size: 60px;
    font-family: questrial;
    color: #f2f2f2;
    text-align: left;
  }

  .texto-home {
    font-size: 30px;
    font-family: questrial;
    color: #ffffff;
    width: 100%;
    text-align: left;
  }

  .texto-homee {
    font-size: 40px;
    font-family: questrial;
    color: #ffffff;
    width: 100%;
    text-align: left;
  }

  .parrafo-home {
    font-size: 30px;
    font-family: questrial;
    color: #ffffff;
    text-align: center;
    text-align: left;
  }
}
