

.father-conf {
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 1;
  overflow: hidden;
  width: 80%; /* Usar un porcentaje del ancho del contenedor padre */
  max-width: 600px; /* Establecer un ancho máximo para mantener el diseño legible */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.father-conf-hijo {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  bottom: 70px;
}

.foto {
  width: 90%;
  height: 10%;
}

.MuiOtpInput-btn {
  justify-content: center;
}

.btn-1 {
  color: #fff;
  border-radius: 50px;
  width: 140px;
  height: 30px;
  background: #3c1263;
  outline: 1px solid #3c1263;
  border-style: none !important;
}

.btn-1:hover {
  border-radius: 50px;
  width: 140px;
  height: 30px;
  color: #3c1263 !important;
  background: #f6f6f6 !important;
  cursor: pointer;
  border-style: none !important;
}

.btn-2 {
  color: #fff;
  border-radius: 50px;
  width: 180px;
  height: 30px;
  background: #3c1263;
  outline: 1px solid #3c1263;
  border-style: none !important;
}

.btn-2:hover {
  border-radius: 50px;
  width: 180px;
  height: 30px;
  color: #3c1263 !important;
  background: #f6f6f6 !important;
  cursor: pointer;
  border-style: none !important;
}

.btn-conf-co {
  color: #fff !important;
  border-radius: 50px !important;
  width: 180px !important;
  height: 30px !important;
  background: #3c1263 !important;
  outline: 1px solid #3c1263 !important;
  border-style: none !important;
  position: relative;
  left: 10px;
}

.btn-conf-co:hover {
  border-radius: 50px;
  width: 180px;
  height: 30px;
  color: #3c1263 !important;
  background: #f6f6f6 !important;
  cursor: pointer;
  border-style: none !important;
}