.botton {
    width: 100% !important;
    background: lightcyan;
}

/* button contrasena */
.contraseña {
    font-size: 17.5px !important;
    top: 5px !important;
    left: 0px !important;

}

.botton1 {
    width: inherit !important;
    outline: 2px solid rgb(55, 16, 183);
    height: 80px;
    
  
}


.botton2{

    outline: 2px solid rgb(255, 0, 0);
    width: inherit !important;
    height:90px;
}






.MuiInput-underline.Mui-error:after {
    transform: scaleX(1);
    border-bottom-color: rgba(0, 0, 0, 0.668) !important;
}