.botton {
    width: 100% !important;
    background: lightcyan;
}

/* button contrasena */
.contraseña {
    font-size: 17px !important;
  

}

.botton1 {
    width: 100px !important;
    height: 50px !important;
    position: relative;
    right: 48px;
    top: -6px !important;
    
  
}


.botton2{
    width: inherit !important;
    height:50px !important;
}







.MuiInput-underline.Mui-error:after {
    transform: scaleX(1);
    border-bottom-color: rgba(0, 0, 0, 0.668) !important;
}
.MuiFormControl-root{
width: 200px;
}