.botton {
    width: 100% !important;
    background: lightcyan;
}

/* button contrasena */
.contraseña {
    font-size: 17px !important;
  

}

.botton1 {
    width: 100px !important;
    outline: 2px solid rgb(55, 16, 183);
    height: 20px !important;
    
  
}


.botton2{

    outline: 2px solid rgb(0, 255, 13);
    width: inherit !important;
    height:50px !important;
}






.MuiInput-underline.Mui-error:after {
    transform: scaleX(1);
    border-bottom-color: rgba(0, 0, 0, 0.668) !important;
}