.padree {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  display: flex;
  margin: 15em auto;
  flex-wrap: wrap;
  width: 500px !important;
  height: 560px !important;
  justify-content: space-evenly;
  align-content: space-evenly;
}

#imagenes {
  position: absolute;
}

.hijoo {
  display: flex;
  flex-wrap: wrap;
  width: 500px !important;
  height: 500px !important;
  justify-content: center;
  align-content: space-evenly;
  border-radius: 30px;
}

.items {
  height: 60px;
  width: 300px;
}

.titulo {
  color: #3c1263;
  font-family: "Questrial", sans-serif;
  position: relative;
  bottom: 20%;
  left: 18%;
}

.item-casa {
  display: flex;
  width: 130px;
  color: #f6f6f6;
  background: #3c1263;
  justify-content: space-evenly;
  align-content: center;
  border-radius: 30px;
  height: 35px;
}

.item-casa:hover {
  cursor: pointer;
}

.casaa {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.casaa a {
  flex-grow: 1;
  text-decoration: none;

  color: #f6f6f6;
  font-size: 1.1em;
}

.bi-house-door-fill {
  position: relative;
  top: 1px;
}

.item-correo {
  width: 200px;
  position: relative;
  top: 10%;
  right: 26%;
}

.item-contraseña {
  width: 200px;
  position: relative;
  bottom: 10%;
  left: 19%;
}

.item-sesion {
  width: 180px;
  position: relative;
  top: 15%;
  right: 20%;
}
