.padree {
  display: flex;
  margin: 15em auto;
  flex-wrap: wrap;
  width: 500px !important;
  height: 590px !important;
  justify-content: space-evenly;
  align-content: space-evenly;
  background: #f6f6f6;
  box-shadow: 0 0 1rem 0 rgba(8, 10, 76, 0.2); 
  border-radius: 30px;
}

#imagenes {
  width: 400px;
  height: 50px;
}

.hijoo {
  display: flex;
  flex-wrap: wrap;
  width: 700px !important;
  height: 500px !important;
  justify-content: center;
  align-content: space-evenly;
}

.items {
  height: 50px;
  width: 300px;
 
}

.titulo{
  color: #3c1263;
  font-family: "Questrial", sans-serif;
  font-size: 2.7em !important;

}

.twos{
  position: absolute;
  top: 276px; 
  border-radius: 30px;
  height: 500px;
  width: 585px;
  background: rgba(255, 255, 255, 0.500);
  z-index: -1;
}

.ones{
  position: absolute;
  top: 330px; 
  border-radius: 30px;
  height: 400px;
  width: 655px;
  background: rgba(255, 255, 255, 0.500);
  z-index: -1;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
  color: #f6f6f6 !important;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover{
  color: #3c1263 !important;
}

.inicio-s{
  border-radius: 50px;
  width: 240px;
  background: #3c1263;
  outline: 1px solid  #3c1263;
}
.inicio-s:hover{
  border-radius: 50px;
  width: 240px;
  color: #3c1263 !important;
  background: #f6f6f6 !important;
}

.item-casa {
  width: 50px;
  color: #f6f6f6;
  background: #3c1263;
  border-radius: 100% !important;
  height: 50px;
  box-sizing: border-box;
}

.item-casaa:hover {
  cursor: pointer;
}

.link{
  height: inherit;
  width: inherit;
  padding: 15px;
  color: #f6f6f6;
  border-radius: 80px;
}

.casaa{
  border-radius: 900px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: inherit;
  width: inherit;
}

.bi-house-door-fill {
  position: relative;
  top: 1px;
}
/*Acomodando los campos que se utilizan en el login*/

/* cssssssss */

/*Campo de contraseña*/
.contraseña-item {
  position: relative;
  left: 30px !important;
}