body {
  margin: 0;

  background-image: url(./fondo/Background\ original.png);
  background-size: 100% 100%; /* Hace que el fondo cubra toda la pantalla sin recortar */
  background-attachment: fixed; /* Evita que el fondo se mueva con el contenido */
  background-repeat: no-repeat; /* Evita la repetición del fondo */
  font-family: Arial, sans-serif;
}

.padre {
  background-color: rgba(202, 202, 202, 0.175);
  width: 1000px;
  margin: 30%;
  border-radius: 20px;
}

.form {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 1600px;
justify-content: space-evenly
;
  align-content: center;
}
.item {
  border-radius: 20px;
  background: lightcyan;


  /* Agrega un relleno a los elementos para separar su contenido del fondo */
}

/* Estilo para mensajes de error */
.error-message {
  color: red;
  font-size: 14px;
}

/* Estilo para resaltar campos con errores */
.error-field {
  border: 2px solid red;
}

.contenedor1 {
  border: 1px black solid;
  width: 300px;
  height: 400px;
  padding: 1px;
  background: lightblue;
}

.contenedor2 {
  border: 1px red solid;
  width: 300px;
  background: lightblue;
  height: 400px;
}

.contenedor3 {
  border: 1px green solid;
  width: 300px;
 
  height: 400px;
}
