* {
  margin: 0;
  padding: 0;
}

.container {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 1000px;
  margin: 50%;
  align-items: center;
  justify-content: space-evenly;
}

.item {
  height: 50px;
  width: 320px;
}
