/* Estilos para el botón "Enviar" */
.btn-informes-env {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #2c0757;
  color: #fff;
  border: 1px solid #2c0757;
  border-radius: 5px;
  cursor: pointer;
}

.btn-informes-env:hover {
  background-color: #fff;
  color: #2c0757;
  border: 1px solid #2c0757;
}

/* Estilos para los botones "Excel" y "Pdf" */
.contenedor-ex-pd {
  position: fixed;
  bottom: 10px;
  right: 100px;
  display: flex;
  gap: 10px;
}

.btn-informes {
  padding: 8px 16px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-informes:not(:last-child) {
  margin-right: 5px;
}

.btn-informes:hover {
  background-color: #286090;
}

.contenedor-ex-pd .buttons {
  color: #2c0757;
  background: #fff;
  border: 1px solid #2c0757 !important;
}

.contenedor-ex-pd .buttons:hover {
  color: #fff;
  background: #2c0757;
  border: 1px solid #fff !important;
}

/* Contenedor del titulo de informes */
.cont-tilte-informes {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -380%);
  z-index: 100;
}

.cont-tilte-informes h1 {
  color: #fff;
  font-size: 30px;
  text-align: left;
}

/* Contenedor de inputs */
.container-Informes {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-68%, -58%);
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Ajusta esta propiedad según sea necesario */
  align-items: flex-start; /* Ajusta esta propiedad según sea necesario */
  padding-left: 3%; /* Ajusta el valor según sea necesario */
}

/* Estilo del contenedor de dependencia */
.contenedor-dependencia {
  margin-left: -36px;
}

/* Estilo del contenedor que tiene el input de estado */
.contenedor-estado {
  position: absolute;
  bottom: 24%;
  left: 26%;
}

/* Contenedor del input del numero de documento */
.contenedor-numeroDoc {
  position: absolute;
  top: 68%;
  left: 23.5%;
}

/* Contenedor del input de Estado de sanciones */
.contenedor-estadSan {
  position: absolute;
  top: 82%;
  left: 26.2%;
}

/* Boton de agregar implemento */
.btn-agregar-implemento {
  position: absolute;
  top: 82%;
  left: 26%;
  color: #fff;
  background-color: #2c0757;
  border: 1px solid #2c0757;
  width: 100px;
  height: 40px;
}

.btn-agregar-implemento:hover {
  background-color: #fff;
  color: #2c0757;
  border: 1px solid #2c0757;
  cursor: pointer;
}

/* Contenedor de los inpus de agregar implementos */
.contenedor-de-inpust-agregar-implementos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, 80%);
  width: 30%;
  height: 20%;
  display: flex;
}

.contenedor-de-inpust-agregar-implementos > * {
  flex: 1;
  padding: 10px; /* Puedes ajustar el espacio interno según sea necesario */
  box-sizing: border-box;
}

/* Div de fondo blaco para informes */
.fondo-banco {
  background: #f6f6f6;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-36%, -26%);
  width: 140%;
  height: 70vh;
  z-index: -100;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

/* Div para el fondo morado */
.fondo-morado {
  background-color: #2c0757;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-42.8%, -80%);
  width: 250%;
  height: 140%;
  z-index: -300;
}

@media (max-height: 740px) {
  /* Contenedor del titulo de informes */
  .cont-tilte-informes {
    transform: translate(-50%, -240%);
  }
}
