*{
  font-family: questrial;
  box-sizing: border-box;
}
/* Estilos para el botón "Enviar" */
.titulo-inv{
  height: 50px;
  width: 100%;
  color:#2c0757;
  }
  .contenedor-de-enviar button{
    background: #2c0757;
    color: #fff;
    font-size: 13px;
    border: none;
  
  }
  .cont-inf-user{
    background: #fff;
    display: flex !important;
   flex-direction: column;
    width: 550px;
    height: 50vh !important;
    align-items: center;
    row-gap: 15px;
    border-radius: 30px;
 }
 .cont-inf-user::after{
content: "";
width: 720px;
height:600px;
top:370px;
position: absolute;
z-index: -999;
background: rgba(225 225, 225, 0.5);
border-radius: 30px;
 }
 .cont-inf-user::before{
content: "";
width: 835px;
height:510px;
top:400px;
position: absolute;
z-index: -9999 !important;
background: rgba(225 225, 225, 0.5);
border-radius: 30px;
 }

 .padre-informe-user{
  height: 100vh !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid black;
  position: relative;
  z-index: -9999999;
  background: rgb(44,7,87);
  background: radial-gradient(circle, rgba(44,7,87,1) 5%, rgba(255,255,255,1) 44%);
  background: rgb(44,7,87);
background: radial-gradient(circle, rgba(44,7,87,1) 0%, rgba(227,227,227,1) 30%, rgba(255,255,255,1) 64%);
 }
  .titulo-inv-user{
   width: 100%;
    color: #2c0757;
    padding: 20px;
    height: 65px;
    padding: 10px 12px;

  }
  .botton-user-enviar{
color: #fff;
background: #2c0757;
border: none;
height: 40px;
width: 90px;
border-radius: 4px;
  }
.botton-user-enviar:hover{
color:  #2c0757;
background: #fff;
border: 1px solid #2c0757;

  }
  .contenedor-dependencia{
    background: #286090;
  
  }
  .cont-inf-inv{
    background: #fff;
    width: 80%;
    height:75vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 85px auto 5px;
  }
  .contenedorsito{
    height: 110px;
   
   
  }
  .cont-funcionario{
    display: flex;
    justify-content: center;
    flex-direction: column;
     height: 100%;
     align-items: center;
     
  
  }
  /* Estilos para los botones "Excel" y "Pdf" */
  .contenedor-ex-pd {
    position: fixed;
    bottom: 329px;
    right: 195px;
    display: block;

  }
  /* ------  arreglo  csss*/
  
  .btn-informes {
    padding: 8px 16px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cont-inf{
    width: 80%;
  
    margin: auto;
  }
  .button-inf{
    background: #2c0757;
    color: #fff;
    font-size: 13px;
  }
  .button-inf:hover{
    background: #fff;
    color: #2c0757;
  }
  
  .contenedor-ex-pd .buttons {
    color: #fff;
    width: 120px !important;
    background: #2c0757;
    margin: 4px;
    border: 1px solid #2c0757 !important;
  }
  .cont-inv-sancion{
    background: #2c0757;
    height: 500px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px auto;
  
  }
  
  /* Contenedor de inputs */
  .container-Informes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  row-gap: 50px;
  justify-content: space-between;
    height: 70%;

   
    transform: translateY(-15px);
   
      width: 470px;
      height: 430px;
    }  
  
  /* Estilo del contenedor de dependencia */
  .contenedor-dependencia {
  background: #fff;

  }
  .cont-observacion{
  
    width: 59%;
    height: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  
  /* Estilo del contenedor que tiene el input de estado */
  .contenedor-estado {
  
  
  }
  
  /* Contenedor del input del numero de documento */
  .contenedor-numeroDoc {
    position: absolute;
    top: 68%;
    left: 23.5%;
  }
  
  /* Contenedor del input de Estado de sanciones */
  .contenedor-estadSan {
    position: absolute;
    top: 82%;
    left: 26.2%;
  }
  
  /* Boton de agregar implemento */
  .btn-agregar-implemento {
    position: absolute;
    top: 82%;
    left: 26%;
    color: #fff;
    background-color: #2c0757;
    border: 1px solid #2c0757;
    width: 100px;
    height: 40px;
  }
  .container-informe{
    background: #286090;
    width: 400px;
    height: 500px;
  }
  
  .btn-agregar-implemento:hover {
    background-color: #fff;
    color: #2c0757;
    border: 1px solid #2c0757;
    cursor: pointer;
  }
  
  
  .contenedor-de-inpust-agregar-implementos > * {
    flex: 1;
    padding: 10px; /* Puedes ajustar el espacio interno según sea necesario */
    box-sizing: border-box;
  }
  

  

