.css-pl8gqh-MuiStack-root{
    justify-content: center;
}
.css-yz9k0d-MuiInputBase-input::placeholder{
    color: #2c0757!important;
    font-size: 1em;
    font-family: 'Anton', sans-serif !important;
}
.MuiTableCell-root{
    text-align: center !important;
    font-size: 1em !important;
    text-transform: capitalize !important;
    font-family: "questrial" !important;
}

.buscador{
 width: 300px !important;
}
.css-gzkfr-MuiTableCell-root{
 font-size: 1.5em !important;
}
.css-1191obr-MuiPaper-root-MuiAppBar-root {

width: calc(100% - 190px) !important;
}
.lupaa{
    width: 45px;
}
.css-7mt4h1-MuiInputBase-root .MuiInputBase-input {
    width: 27ch  !important;
    border: none;
}
.css-yz9k0d-MuiInputBase-input {
    color: #000000 !important;
    font-family: "questrial" !important; 
    height: 18px !important;
   background:#e3e3e3 !important;
   border: none !important;
   border-radius: 26px;

}
.cont-busc{
    background:inherit !important;
}
.icon-search{
    color: #2c0757 !important;
    z-index: 999;
 
}
.sancionarb button{
    background: #EBEBEB;
    box-shadow: 6px 6px 20px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 20px -1px rgba(255, 255, 255, 0.7);
}