.buscador{
    /*
    background: none !important;
    height: inherit;
    background: rgb(109, 153, 51) !important; */
 width: 50% !important;
 display: flex !important;
 background: transparent !important;
}
.cont-busc{
    /* background: #a3a3a8ee !important;
    border-top-right-radius: 40PX;
    border-top-left-radius: 40PX;*/
    height: 85px !important;
}
.lupaa{
color:   #2175a6;
border-radius: 70px;
background: #f6f6f6;
width: 50px;
height: 50px !important;
border: 1px solid #ffffff4d;
z-index: 300;
position: fixed;
left:479px;
top: 4px;
}

/* .css-yz9k0d-MuiInputBase-input{

} */
.css-yz9k0d-MuiInputBase-input::placeholder{
    color: white !important;
    font-size: 1.6em;
    font-family: "QUESTRIAL";
    text-align: start !important;
    z-index: 900 !important;

}

.css-7mt4h1-MuiInputBase-root .MuiInputBase-input{
    width: 30em !important;
    height: 40px;
    border-radius: 70px !important;
    border: none;
    background: #2175a6;
    transform: translateY(1px);
}