.css-pl8gqh-MuiStack-root{
    justify-content: center;
}

.css-1q1u3t4-MuiTableRow-root {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0;
    position: sticky !important;
     top: 0 !important;
    z-index: 0 !important; 
}

.css-7mt4h1-MuiInputBase-root .MuiInputBase-input {
    width: 27ch  !important;
    border: none;
}
.css-yz9k0d-MuiInputBase-input {
    color: #000000 !important;
    font-family: "questrial" !important; 
    height: 18px !important;
   background:#e3e3e3 !important;
   border: none !important;

}
.buscador{
    width: 300px !important;
   }
   .css-gzkfr-MuiTableCell-root{
    font-size: 1.5em !important;
   }
   .css-1191obr-MuiPaper-root-MuiAppBar-root {
   
   width: calc(100% - 190px) !important;
   }
   .lupaa{
       width: 45px;
   }
.cont-busc{
    background: #fff !important;
}
.icon-search{
    color: #2c0757 !important;
    z-index: 999;
    width: 30px !important;
    height: 30px ;
 
}
.table-user{
    height: 80vh !important;
    width: 100% !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    color: #ff0000 !important;
    font-size: 0.710rem;
    border: 1px solid #ff0000 !important;
}
.css-1ps6pg7-MuiPaper-root{
    transform: none !important;
}

@media screen
and (min-width: 1200px)
and (max-width: 1600px)
{
    .table-user{
        height: 79vh !important;

    }
    .css-i4bv87-MuiSvgIcon-root {
        width: 1.4em !important;
        height: 1.4em !important;
        color: #f6f6f6;
    }

}