/* En tu archivo "mensajes.css" */
.mensajes-container {
  background: #eeecec;
  display: flex !important;
  justify-content: start !important;
  width: 100%;
  align-items: center !important;
  height: 100vh;
  margin: 60px auto !important;
  right: -36px;
  margin-bottom: 0 !important;
}

/* contenedor del titulo */
.cont-mensaje {
  background: #2c0757;
  width: 100%;
  height: 40% !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -110%);
}

.titulo-mesajes {
  font-size: 1.3em !important;
}

.comp {
  background: #2c0757;
  border: none;
  height: 50px !important;
  width: 50px;
  padding: 15px 3px !important;
  box-sizing: border-box;
  border-radius: 200px !important;
  display: block !important;
  bottom: 50px;
  position: fixed;
  right: 50px;
  z-index: 9999;
}

.bi-send-plus {
  color: #f6f6f6;
}


/* Contenedor del titulo en mesajes */


.titulo-mesajes {
  color: #ffffff;
  width: 200px;
  font-size: 30px;
  outline: 1px solid black;
  transform: translate(30px, -10px);
}

.cont-tablemsg {
  width: 90%;
  height: 100% !important;
}


.css-13xfq8m-MuiTabPanel-root {
  padding: 0px !important;
}