/* En tu archivo "mensajes.css" */
.mensajes-container {
  display: flex;
  flex-direction: column;
  background: grey;
  height: 90vh;
  position: relative;
  left: 15%;
  width: 90%; 
  margin: 90px auto 40px ;/* Opcional: ajusta la altura según tus necesidades */
}

.titulo-mesajes{
  outline: 1px solid black;
  position: absolute;
  top:10%;
}
ç
.cont-img{
  width: 100% !important;
  height: 300px !important;
  }
  .imagen-user{
      width: 100%;
      object-fit: cover;
      height: 100%;
  }  

.MuiTable-root{
  height: 40% !important;
}
.MuiTableBody-root{
  height: 70% !important;
}


.css-13xfq8m-MuiTabPanel-root {
  width: 100% !important;
}
.comp{
  background: rgb(210, 201, 201);
  border: none;
  height: 50px !important;
  width: 50px;
  padding:15px 3px !important;
  box-sizing: border-box;
  border-radius: 200px !important;
    display: block !important;
    bottom: 100px;
    position: fixed;
    right: 90px;
    z-index: 9999;
}
.bi-send-plus{
  color: #471069;
  
}