/* Estilo del contenedor principal */
.mensajes-detalle-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 80%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.mensajes-detalle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.icon {
  cursor: pointer;
  font-size: 24px;
  margin: 0 16px;
}

.cuadro-responder {
  background: #e0e0e0; /* Cambia el color de fondo según tus preferencias */
  padding: 10px;
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

.mensajes-detalle-content {
  flex: 1;
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

.mensaje-info {
  display: flex;
  flex-direction: column;
}

mensaje-header {
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
 }
.mensaje-text {
  text-align: center; /* Centra el texto en el mensaje */
}

.botones-responder {
  text-align: center;
  /* Ajusta el margen superior según sea necesario */
}

.botones-responder button {
  /* Agrega estilos adicionales según sea necesario */
  margin-right: 5px; /* Ajusta el margen entre los botones según sea necesario */
}

