.mensajes-detalle-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.mensajes-detalle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.icon {
  cursor: pointer;
  font-size: 24px;
  margin: 0 16px;
}

.mensajes-detalle-content {
  flex: 1;
  padding: 16px;
  background-color: #fff;
}

.mensaje-info {
  display: flex;
  flex-direction: column;
}

.mensaje-header {
  display: flex;
  justify-content: space-between;
}

.mensaje-text {
  text-align: center; /* Centra el texto en el mensaje */
}