/* Estilo del contenedor principal */
.mensajes-detalle-container {
  display: flex;
  flex-direction: column;
  height: 91vh;
  width: 100%;
  background-color: #f2f2f2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45.4%);
}

.mensajes-detalle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.icon {
  cursor: pointer;
  font-size: 24px;
  margin: 0 16px;
}

.cuadro-responder {
  background: #fff; /* Cambia el color de fondo según tus preferencias */
  padding: 10px;
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

.mensajes-detalle-content {
  flex: 1;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.mensaje-info {
  display: flex;
  flex-direction: column;
}

mensaje-header {
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
 }
.mensaje-text {
  text-align: center; /* Centra el texto en el mensaje */
}

.botones-responder {
  text-align: center;
  /* Ajusta el margen superior según sea necesario */
}

.botones-responder button {
  /* Agrega estilos adicionales según sea necesario */
  margin-right: 5px; /* Ajusta el margen entre los botones según sea necesario */
}

/* Estilo para el icono de retroceso y borrar */
.css-i4bv87-MuiSvgIcon-root {
  width: 1.7em !important;
  height: 1.7em !important;
  color: #000000;
}

/* Estilo para la tabla que contiene la informacion de quien es el mensaje */
.table-dt-mensajes {
  background: #f2f2f2;
}

/* Estilo del compose bar al undir el boton de responder */
.compose-bar.custom-style .compose-textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 200px !important;
  min-height: 200px !important;
}