.css-ke5b6m-MuiButtonBase-root-MuiButton-root {
  background-color: #2c0757 !important;
}

/* Estilo del boton de eliminar solicitud */
.css-180lf2n-MuiButtonBase-root-MuiButton-root {
  border: 1px solid #ff0000b0 !important;
  color: #ff0000b0 !important;
}

.contenedor-tabla-solicitudes {
  border: 3px solid black;
}

.cont-table-solicitudes {
  width: 90% !important;
  height: 80% !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -38%);
}

/* Solicitudes Titulo*/
.contenedor-TitleSoli {
  background: #00000000;
  width: 90%;
  height: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -410%);
  z-index: 100;
}

.TitleSoli {
  color: #fff;
  display: flex;
  margin-left: 8%;
  margin-top: -1%;
  font-size: 30px;
}

/* Estilo para los botones de flitro en solicitudes */
.boton-solicitudes {
  margin: 14px !important;
  background: #e3e3e3 !important;
  color: #2c0757;
}

/* tamaño en las opciones de Solicitudes */
.MuiTable-root {
  height: 12% !important;
}

/* Estilo para los encabezados en la tabla solicitudes */
.css-15wwp11-MuiTableHead-root {
  display: table-header-group;
  background: #eaeaea !important;
}